# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
.vscode
zconfig

Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
Makefile
helm-charts
.editorconfig
.idea
coverage*